@layer reset, variables, global, custom;

@layer custom {
  /* Your custom styles go here. Never using !important again 🤗 */
  .gradient-bg {
    background: #eb6bd3;
    background: linear-gradient(
      90deg,
      rgba(235, 107, 211, 1) 0%,
      rgba(124, 126, 230, 1) 50%,
      rgba(121, 232, 223, 1) 100%
    );
  }
  .filter-blue {
    filter: brightness(0) saturate(100%) invert(60%) sepia(90%) saturate(1879%)
      hue-rotate(150deg) brightness(103%) contrast(107%);
  }
  .filter-grey {
    filter: brightness(0) saturate(100%) invert(69%) sepia(0%) saturate(1%)
      hue-rotate(349deg) brightness(99%) contrast(93%);
  }
  .filter-pink {
    /* #EB6BD3 */
    filter: brightness(0) saturate(100%) invert(87%) sepia(30%) saturate(5375%)
      hue-rotate(275deg) brightness(90%) contrast(90%);
  }
  .filter-light-pink {
    filter: brightness(0) saturate(100%) invert(90%) sepia(55%) saturate(3949%)
      hue-rotate(278deg) brightness(105%) contrast(109%);
  }
  .filter-very-pink {
    filter: brightness(0) saturate(100%) invert(72%) sepia(76%) saturate(4250%)
      hue-rotate(279deg) brightness(100%) contrast(102%);
  }
  .proficiency-level {
    filter: brightness(0) saturate(100%) invert(87%) sepia(30%) saturate(5375%)
      hue-rotate(275deg) brightness(90%) contrast(90%);
  }
  .skill-years {
    color: var(--color-pink);
    font-size: 2rem;
    font-weight: bold;
    line-height: 64px;
  }
}
