@layer reset, variables, global, custom;

@layer custom {
  /* Your custom styles go here. Never using !important again 🤗 */

  /* Altcha Styles */

  .altcha-main {
    min-width: 100%;
  }

  /* Element Styles */

  .form-field::placeholder {
    color: var(--foreground);
    opacity: 50%;
  }

  .proficiency-level {
    filter: brightness(0) saturate(100%) invert(87%) sepia(30%) saturate(5375%)
      hue-rotate(275deg) brightness(90%) contrast(90%);
  }

  summary {
    cursor: pointer;
  }

  /* SVG Filters */

  .filter-pink {
    /* #EB6BD3 */
    filter: brightness(0) saturate(100%) invert(87%) sepia(30%) saturate(5375%)
      hue-rotate(275deg) brightness(90%) contrast(90%);
  }
  .filter-pink-dark {
    /* #980060 */
    filter: brightness(0) saturate(100%) invert(8%) sepia(86%) saturate(6082%)
      hue-rotate(311deg) brightness(87%) contrast(105%);
  }
}
